body {
    background-color: black;
}
.counter {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 20vh;
}
button {
    background-color: grey;
    color: white;
    border-radius: 100px;
    font-size: larger;
    width: 10%;
}

.counterCount {
    background-color: white;
    font-weight: bold;
    border-radius: 100%;
    width: 20%;
    text-align: center;
    align-items: center;
}